# enable URL rewrite
RewriteEngine On

# skip if file exists
RewriteCond %{REQUEST_FILENAME} !-f

# skip if irectory exists
RewriteCond %{REQUEST_FILENAME} !-d

# all requsts go to index.php
RewriteRule (.*) index.php [L,E=PATH_INFO:/$1]