.grid-container{
    padding-right: 0px;
    padding-left: 0px;
    margin: 0.4rem;
    max-width: 100%;
}

#program{
    min-height: 700px;
}

hr{
    max-width: 100%;
}

.log-in-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 0;
    max-width: 400px;
    margin: auto;
  }
  
  #tabletemp {
    text-align: center;
  }

  table#tabletemp th{
    text-align: center;
  }

  table tr:nth-of-type(odd) {
    background: #d9d7db;
    }

  .top-bar, .top-bar ul {
    background-color: black;
    color: white;
  }
  body{
    background: #d9d7db;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .callout {
    background: #d9d7db;
  }

  footer{
    min-height: 40px;
    margin-top: auto;
    background-color: black;
    color: white;
  }